<a routerLink="/ag-grid" routerLinkActive="active">ag-grid</a>&nbsp;&nbsp;
<a routerLink="/angular-material" routerLinkActive="active">angular material</a>&nbsp;&nbsp;
<a routerLink="/reactive-form" routerLinkActive="active">reactive form</a>&nbsp;&nbsp;
<a routerLink="/review-form-example" routerLinkActive="active">reactive form example</a>&nbsp;&nbsp;
<a routerLink="/review-section" routerLinkActive="active">review section</a>&nbsp;&nbsp;
<a routerLink="/review-dynamic-form" routerLinkActive="active">reactive dynamic form</a>
<router-outlet></router-outlet>
